SmartStoreNET.Web.2.6.0/Plugins/SmartStore.OpenTrans/Content/DTD/openbase_1_0.dtd

<!--

  Name:                 openbase_1_0.dtd
  Version:              1.0
  Unchange since:       1.0
  Date:                 19.06.2002
  Authors:              Oliver Kelkar (olk),  Fraunhofer IAO Stuttgart
                        Boris Otto (bo),      Fraunhofer IAO Stuttgart
                        Volker Schmitz (stz), Universitaet Essen BLI
			

  History:
  19.6.02: blank added "<!ELEMENT VALID_END_DATE %DATETIME;>"
                                                ^


  Copyright 2000-2001, All Rights Reserved
  Fraunhofer IAO Stuttgart, Universitaet Essen BLI
  
  // Namespace = http://www.opentrans.org/opentrans/1.0/openbase
        
  This DTD module is identified by the PUBLIC and SYSTEM identifiers:
        
  PUBLIC "-//OPENTRANS//DTD OPENBASE 1.0//EN"
  SYSTEM "openbase_1_0.dtd"
  
-->

<!-- =====================================================================
     ===================================================================== 
          definition of datatypes (skalare Dtatentypen) 
====================================================================== -->

  <!ENTITY % STRING "(#PCDATA)">
  <!ENTITY % NUMBER "(#PCDATA)">
  <!ENTITY % INTEGER "(#PCDATA)">
  <!ENTITY % COUNT "(#PCDATA)">
  <!ENTITY % FLOAT "(#PCDATA)">
  <!ENTITY % BOOLEAN "(#PCDATA)">
  <!ENTITY % DATETIME "(#PCDATA)">

<!-- ***** Elements from bmecat_base_1_2.dtd, not used by openbase_0_9xx.dtd *****
  <!ENTITY % DATETYPE     "(#PCDATA)">
  <!ENTITY % TIMETYPE     "(#PCDATA)">
  <!ENTITY % TIMEZONETYPE "(#PCDATA)">
-->

<!-- =====================================================================
          definition of datatypes (Aufzaehlungsdatentypen) 
====================================================================== -->

  <!ENTITY % COUNTRIES "%STRING;">
  <!ENTITY % CURRENCIES "%STRING;">
  <!ENTITY % LANG "%STRING;">
  <!ENTITY % UNIT "%STRING;">
  <!ENTITY % PUNIT "%STRING;">

<!-- ***** datatypes from bmecat_base_1_2.dtd, not used by openbase_0_9.dtd *****
  <!ENTITY % DATETIME.GENERATIONDATE  "DATETIME">
  <!ENTITY % DATETIME.AGREEMENTSTARTDATE  "DATETIME">
  <!ENTITY % DATETIME.AGREEMENTENDDATE  "DATETIME">
  <!ENTITY % DATETIME.VALIDSTARTDATE  "DATETIME">
  <!ENTITY % DATETIME.VALIDENDDATE  "DATETIME">
  <!ENTITY % ADDRESS.BUYER  "ADDRESS">
  <!ENTITY % ADDRESS.SUPPLIER  "ADDRESS">
  <!ENTITY % DATETIME_QUALIFIERS "(generation_date|agreement_start_date|agreement_end_date|valid_start_date|valid_end_date)">
  <!ENTITY % ADDRESS_QUALIFIERS "(buyer|supplier)">
-->

<!-- =====================================================================
          definition of Qualifiers
====================================================================== -->

  <!ENTITY % COST_CATEGORY_ID_QUALIFIERS "(
                                cost_center |
                                project | 
                                work_order )">

  <!ENTITY % DELIVERY_DATE_QUALIFIERS "(
                                optional | 
                                fixed )">

  <!ENTITY % PHONE_QUALIFIERS "(
                                office | 
                                mobile | 
                                private | 
                                other )">

  <!ENTITY % PAYMENT_TERM_QUALIFIERS "(
                                unece |
                                other )">




<!-- ***** qualifiers from bmecat_base_1_2.dtd, not used by openbase_1_xx.dtd *****
  <!ENTITY % PRICE_FLAG_QUALIFIERS "(incl_freight | incl_packing | incl_assurance | incl_duty)">
  <!ENTITY % BUYER_ID_QUALIFIERS "(duns | iln | buyer_specific | supplier_specific)">
  <!ENTITY % SUPPLIER_ID_QUALIFIERS "(duns|iln|buyer_specific|supplier_specific)">
  <!ENTITY % ARTICLE_MODE_QUALIFIERS "(new|update|delete)">
  <!ENTITY % CLASSIFICATION_SYSTEM_QUALIFIERS "(node|leaf)">
  <!ENTITY % ARTICLE_STATUS_QUALIFIERS "(bargain|new_article|old_article|new|used|refurbished|core_article|others)">
  <!ENTITY % REFERENCE_QUALIFIERS "(sparepart|similar|followup|mandatory|select|others|accessories|diff_orderunit|consists_of)">
  <!ENTITY % CATALOG_STRUCTURE_QUALIFIERS "(root|node|leaf)">
  <!ENTITY % FEATURE_TEMPLATE_QUALIFIERS "(free_entry|defaults)">
  <!ENTITY % USERDEFINES "%STRING;">
-->
<!-- ***** Elements from bmecat_base_1_2.dtd, not used by openbase_1_XX.dtd *****
  <!ELEMENT DATETIME (DATE,TIME?, TIMEZONE?)>
    <!ATTLIST DATETIME
            type %DATETIME_QUALIFIERS; #REQUIRED>
  <!ELEMENT DATE %DATETYPE;>
  <!ELEMENT TIME %TIMETYPE;>
  <!ELEMENT TIMEZONE %TIMEZONETYPE;>
-->
<!-- !!!!! Elements from bmecat_base_1_2.dtd, different meaning in openbase_1_XX.dtd, looking forward bmecat 2.0 !!!!!
  <!ELEMENT ARTICLE_PRICE (PRICE_,PRICE_CURRENCY?,TAX?,PRICE_FACTOR?,LOWER_BOUND?,TERRITORY*)>
    <!ATTLIST ARTICLE_PRICE
            price_type CDATA #REQUIRED>
  <!ELEMENT CONTACT %STRING;>
-->

<!-- ***** only used in openTRANS 1_XX ***** -->

<!-- =====================================================================
          definition of "simple"-elements
====================================================================== -->

  <!ELEMENT AGREEMENT_LINE_ID %STRING;>
  <!ELEMENT AGREEMENT_START_DATE %DATETIME;>
  <!ELEMENT AGREEMENT_END_DATE %DATETIME;>
  <!ELEMENT ALT_CUSTOMER_ORDER_ID %STRING;>
  <!ELEMENT BANK_ACCOUNT %STRING;>
  <!ELEMENT BANK_CODE %STRING;>
  <!ELEMENT BANK_COUNTRY %COUNTRIES;>
  <!ELEMENT BANK_NAME %STRING;>
  <!ELEMENT CARD_AUTH_CODE %STRING;>
  <!ELEMENT CARD_EXPIRATION_DATE %DATETIME;>
  <!ELEMENT CARD_HOLDER_NAME %STRING;>
  <!ELEMENT CARD_NUM %STRING;>
  <!ELEMENT CARD_REF_NUM %STRING;>
  <!ELEMENT CARD_TYPE %STRING;>
  <!ELEMENT CARD_TYPE_OTHER %STRING;>
  <!ELEMENT CONTACT_NAME %STRING;>
  <!ELEMENT COST_ACCOUNT %STRING;>
  <!ELEMENT COST_TYPE %STRING;>
  <!ELEMENT DELIVERY_COMPLETED %BOOLEAN;>
  <!ELEMENT DELIVERY_END_DATE %DATETIME;>
  <!ELEMENT DELIVERY_NOTE_ID %STRING;>
  <!ELEMENT DELIVERY_START_DATE %DATETIME;>
  <!ELEMENT DEPARTMENT %STRING;>
  <!ELEMENT DISPATCHNOTIFICATION_DATE %DATETIME;>
  <!ELEMENT DISPATCHNOTIFICATION_ID %STRING;>
  <!ELEMENT GENERATION_DATE %DATETIME;>
  <!ELEMENT HOLDER %STRING;>
  <!ELEMENT INCOTERM %STRING;>
  <!ELEMENT INVOICE_DATE %DATETIME;>
  <!ELEMENT INVOICE_ID %STRING;>
  <!ELEMENT LINE_ITEM_ID %STRING;>
  <!ELEMENT LOCATION %STRING;>
  <!ELEMENT MEANS_OF_TRANSPORT_ID %STRING;>
  <!ELEMENT MEANS_OF_TRANSPORT_NAME %STRING;>
  <!ELEMENT ORDER_DATE %DATETIME;>
  <!ELEMENT ORDER_ID %STRING;>
  <!ELEMENT ORDERCHANGE_DATE %DATETIME;>
  <!ELEMENT ORDERCHANGE_SEQUENCE_ID %COUNT;>
  <!ELEMENT ORDERRESPONSE_DATE %DATETIME;>
  <!ELEMENT PACKAGE_ID %STRING;>
  <!ELEMENT PACKAGE_TYPE %STRING;>
  <!ELEMENT PARTIAL_SHIPMENT %BOOLEAN;>
  <!ELEMENT PARTIAL_SHIPMENT_ALLOWED %BOOLEAN;>
  <!ELEMENT PRICE_LINE_AMOUNT %NUMBER;>
  <!ELEMENT QUANTITY %NUMBER;>
  <!ELEMENT QUOTATION_DATE %DATETIME;>
  <!ELEMENT QUOTATION_ID %STRING;>
  <!ELEMENT RECEIPT_DATE %DATETIME;>
  <!ELEMENT RECEIPTACKNOWLEDGEMENT_DATE %DATETIME;>
  <!ELEMENT RECEIPTACKNOWLEDGEMENT_ID %STRING;>
  <!ELEMENT RFQ_DATE %DATETIME;>
  <!ELEMENT RFQ_ID %STRING;>
  <!ELEMENT STOP_AUTOMATIC_PROCESSING %STRING;>
  <!ELEMENT SUPPLIER_ORDER_ID %STRING;>
  <!ELEMENT SUPPLIER_ORDER_ITEM_ID %STRING;>
  <!ELEMENT TAX_AMOUNT %NUMBER;>
  <!ELEMENT TERMS_AND_CONDITIONS %STRING;>
  <!ELEMENT TOTAL_AMOUNT %NUMBER;>
  <!ELEMENT TOTAL_ITEM_NUM %COUNT;>
  <!ELEMENT TOTAL_TAX_AMOUNT %NUMBER;>
  <!ELEMENT TRANSPORT_REMARK %STRING;>  
  <!ELEMENT VALID_START_DATE %DATETIME;>
  <!ELEMENT VALID_END_DATE %DATETIME;>
  <!ELEMENT VAT_ID %STRING;>

<!-- =====================================================================
          definition of "simple"-elements with attributes
====================================================================== -->

  <!ELEMENT COST_CATEGORY_ID %STRING;>
    <!ATTLIST COST_CATEGORY_ID  
            type %COST_CATEGORY_ID_QUALIFIERS; #IMPLIED>

  <!ELEMENT INTERNATIONAL_AID %STRING;>
    <!ATTLIST INTERNATIONAL_AID  
            type CDATA  #IMPLIED >
    <!-- ***** predefined values for attribute 'type' of element 'INTERNATIONAL_AID' *****
      "(EAN | GTIN)" 
    -->

  <!ELEMENT INTERNATIONAL_RESTRICTIONS %STRING;>
    <!ATTLIST INTERNATIONAL_RESTRICTIONS  
            type CDATA  #REQUIRED >
    <!-- ***** predefined values for attribute 'type' of element 'INTERNATIONAL_RESTRICTIONS' *****
      "(national | us-embargo | un-embargo | wto-embargo | other)" 
    -->

  <!ELEMENT PARTY_ID %STRING;>
    <!ATTLIST PARTY_ID  
      type CDATA  #IMPLIED >
    <!-- ***** predefined values for attribute 'type' of element 'PARTY_ID' *****
      "(duns | iln | buyer_specific | supplier_specific)">
    -->

  <!ELEMENT PAYMENT_TERM %STRING;>
    <!ATTLIST PAYMENT_TERM  
      type  %PAYMENT_TERM_QUALIFIERS;  'other'       >

  <!ELEMENT REMARK %STRING;>
    <!ATTLIST REMARK  
      type CDATA  'general' >
  <!-- ***** predefined values for attribute 'type' of element 'REMARK' *****
    "(general | rfq | quotation | order | orderchange | orderresponse | dispatchnotifiaction | 
      receiveacknoledgement | invoice | deliverynote | transport)"
  -->


<!-- =====================================================================
          definition of "complex"-elements
====================================================================== -->

  <!ELEMENT ACCOUNT (HOLDER , BANK_NAME , BANK_COUNTRY , BANK_CODE , 
                     BANK_ACCOUNT , PAYMENT_TERM?)>
  <!ELEMENT ACCOUNTING_INFO (COST_CATEGORY_ID , COST_TYPE? , COST_ACCOUNT?)>
  <!ELEMENT ADDRESS (NAME , NAME2? , NAME3? , DEPARTMENT? , CONTACT* , 
                     STREET? , ZIP? , BOXNO? , ZIPBOX? , CITY? , STATE? , 
                     COUNTRY? , VAT_ID?, PHONE? , FAX? , EMAIL? , PUBLIC_KEY* , 
                     URL? )>
  <!ELEMENT ARTICLE_ID (SUPPLIER_AID , INTERNATIONAL_AID? , BUYER_AID* , 
                     DESCRIPTION_SHORT? , DESCRIPTION_LONG? , MANUFACTURER_INFO?)>
  <!ELEMENT BUYER_PARTY (PARTY)>
  <!ELEMENT CARD (CARD_NUM , CARD_AUTH_CODE? , CARD_REF_NUM? , 
                     CARD_EXPIRATION_DATE , CARD_TYPE , CARD_TYPE_OTHER? , 
                     CARD_HOLDER_NAME)>
  <!ELEMENT CASH (PAYMENT_TERM)>
  <!ELEMENT CATALOG_REFERENCE (CATALOG_ID , CATALOG_VERSION , CATALOG_NAME?)>
  <!ELEMENT CHECK (PAYMENT_TERM)>
  <!ELEMENT CONTACT (CONTACT_NAME , PHONE* , FAX? , EMAIL? , PUBLIC_KEY* , URL?)>
  <!ELEMENT CONTROL_INFO (STOP_AUTOMATIC_PROCESSING? , GENERATOR_INFO? , 
                     GENERATION_DATE? , MIME_ROOT?)>
  <!ELEMENT DEBIT (PAYMENT_TERM)>
  <!ELEMENT DELIVERY_PARTY (PARTY)>
  <!ELEMENT DELIVERY_REFERENCE (DELIVERY_NOTE_ID , LINE_ITEM_ID , DELIVERY_DATE?)>
  <!ELEMENT FINAL_DELIVERY_PARTY (PARTY)>
  <!ELEMENT INVOICE_PARTY (PARTY)>
  <!ELEMENT MANUFACTURER_INFO (MANUFACTURER_NAME , MANUFACTURER_AID , 
                     MANUFACTURER_TYPE_DESCR?)>
  <!ELEMENT MIME_INFO (MIME+)>
  <!ELEMENT ORDER_ITEM (LINE_ITEM_ID , ARTICLE_ID , QUANTITY , ORDER_UNIT , 
                     ARTICLE_PRICE? , DELIVERY_DATE? , SOURCING_INFO? , 
                     SHIPMENT_PARTIES? , ACCOUNTING_INFO? , PARTIAL_SHIPMENT_ALLOWED? , 
                     TRANSPORT? , INTERNATIONAL_RESTRICTIONS* , SPECIAL_TREATMENT_CLASS* , 
                     MIME_INFO? , REMARK*)>
  <!ELEMENT ORDER_PARTIES (BUYER_PARTY , SUPPLIER_PARTY , INVOICE_PARTY? , 
                     SHIPMENT_PARTIES?)>
  <!ELEMENT ORDER_REFERENCE (ORDER_ID , LINE_ITEM_ID , ORDER_DATE? , AGREEMENT* , CATALOG_REFERENCE?)>
  <!ELEMENT PACKAGE_INFO (PACKAGE_ID , PACKAGE_TYPE?)>
  <!ELEMENT PARTY (PARTY_ID? , ADDRESS?)>
  <!ELEMENT PAYMENT (CARD | ACCOUNT | DEBIT | CHECK | CASH)>
  <!ELEMENT SHIPMENT_PARTIES (DELIVERY_PARTY , FINAL_DELIVERY_PARTY? , TRANSPORT_PARTY*)>
  <!ELEMENT SOURCING_INFO (QUOTATION_ID? , AGREEMENT* , CATALOG_REFERENCE?)>
  <!ELEMENT SUPPLIER_ORDER_REFERENCE (SUPPLIER_ORDER_ID , SUPPLIER_ORDER_ITEM_ID)>
  <!ELEMENT SUPPLIER_PARTY (PARTY)>
  <!ELEMENT TRANSPORT (INCOTERM , LOCATION? , TRANSPORT_REMARK?)>
  <!ELEMENT TRANSPORT_PARTY (PARTY)>

<!-- =====================================================================
          definition of "complex"-elements with attributes
====================================================================== -->

  <!ELEMENT AGREEMENT (AGREEMENT_ID , AGREEMENT_LINE_ID? , AGREEMENT_START_DATE? , 
                     AGREEMENT_END_DATE?)>
    <!ATTLIST AGREEMENT  
      type CDATA  #REQUIRED >
  <!-- ***** predefined values for attribute 'type' of element 'AGREEMENT' *****
    "(buyer | supplier)"
  -->

  <!ELEMENT DELIVERY_DATE (DELIVERY_START_DATE , DELIVERY_END_DATE)>
    <!ATTLIST DELIVERY_DATE  
      type %DELIVERY_DATE_QUALIFIERS; 'fixed'>

  <!ELEMENT MEANS_OF_TRANSPORT (MEANS_OF_TRANSPORT_ID , MEANS_OF_TRANSPORT_NAME?)>
    <!ATTLIST MEANS_OF_TRANSPORT
      type CDATA #IMPLIED>
  <!-- ***** predefined values for attribute 'type' of element 'MEANS_OF_TRANSPORT' *****
    "(maritime | rail | road | air | multimodal)"
  -->

<!-- ***** used in BMEcat V1.2 and openTRANS 1_XX ***** -->

<!-- =====================================================================
          definition of "simple"-elements
====================================================================== -->

  <!ELEMENT AGREEMENT_ID %STRING;>
  <!ELEMENT BOXNO %STRING;>
  <!ELEMENT BUYER_NAME %STRING;>
  <!ELEMENT CATALOG_ID %STRING;>
  <!ELEMENT CATALOG_NAME %STRING;>
  <!ELEMENT CATALOG_VERSION %STRING;>
  <!ELEMENT CITY %STRING;>
  <!ELEMENT COUNTRY %STRING;>
  <!ELEMENT CURRENCY %CURRENCIES;>
  <!ELEMENT DELIVERY_NOTE_DATE %DATETIME;>
  <!ELEMENT DESCRIPTION_LONG %STRING;>
  <!ELEMENT DESCRIPTION_SHORT %STRING;>
  <!ELEMENT EMAIL %STRING;>
  <!ELEMENT FAX %STRING;>
  <!ELEMENT GENERATOR_INFO %STRING;>
  <!ELEMENT MANUFACTURER_AID %STRING;>
  <!ELEMENT MANUFACTURER_NAME %STRING;>
  <!ELEMENT MANUFACTURER_TYPE_DESCR %STRING;>
  <!ELEMENT MIME_ALT %STRING;>
  <!ELEMENT MIME_DESCR %STRING;>
  <!ELEMENT MIME_ORDER %INTEGER;>
  <!ELEMENT MIME_PURPOSE %STRING;>
  <!ELEMENT MIME_ROOT %STRING;>
  <!ELEMENT MIME_SOURCE %STRING;>
  <!ELEMENT MIME_TYPE %STRING;>
  <!ELEMENT NAME %STRING;>
  <!ELEMENT NAME2 %STRING;>
  <!ELEMENT NAME3 %STRING;>
  <!ELEMENT ORDER_UNIT %PUNIT;>
  <!ELEMENT PRICE_AMOUNT %NUMBER;>
  <!ELEMENT PRICE_CURRENCY %CURRENCIES;>
  <!ELEMENT PRICE_FACTOR %NUMBER;>
  <!ELEMENT PRICE_QUANTITY %NUMBER;>
  <!ELEMENT STATE %STRING;>
  <!ELEMENT STREET %STRING;>
  <!ELEMENT SUPPLIER_AID %STRING;>
  <!ELEMENT TAX %NUMBER;>
  <!ELEMENT URL %STRING;>
  <!ELEMENT ZIP %STRING;>
  <!ELEMENT ZIPBOX %STRING;>

<!-- =====================================================================
          definition of "simple"-elements with attributes
====================================================================== -->

  <!ELEMENT BUYER_AID %STRING;>
    <!ATTLIST BUYER_AID  
      type CDATA  #REQUIRED >

  <!ELEMENT PHONE %STRING;>
    <!ATTLIST PHONE  
      type  %PHONE_QUALIFIERS;  'office'>

  <!ELEMENT PUBLIC_KEY %STRING;>
    <!ATTLIST PUBLIC_KEY  
      type CDATA  #REQUIRED >

  <!ELEMENT PRICE_FLAG %BOOLEAN;>
    <!ATTLIST PRICE_FLAG  
      type CDATA #REQUIRED >

  <!ELEMENT SPECIAL_TREATMENT_CLASS %STRING;>
    <!ATTLIST SPECIAL_TREATMENT_CLASS  
      type CDATA  #REQUIRED >

<!-- =====================================================================
          definition of "complex"-elements
====================================================================== -->

  <!ELEMENT ARTICLE_PRICE (PRICE_AMOUNT , PRICE_FLAG* , PRICE_LINE_AMOUNT , TAX? , TAX_AMOUNT? , PRICE_QUANTITY?)>
    <!ATTLIST ARTICLE_PRICE  
      type CDATA  #REQUIRED >

  <!ELEMENT MIME (MIME_TYPE? , MIME_SOURCE , MIME_DESCR? , MIME_ALT? , MIME_PURPOSE? , MIME_ORDER?)>



<!-- ***** Elements from bmecat_base_1_2.dtd, not used by openbase_0_9xx.dtd *****
  <!ELEMENT ADDRESS             (NAME?,NAME2?,NAME3?,CONTACT?,STREET?,ZIP?,BOXNO?,ZIPBOX?,CITY?,STATE?,
            COUNTRY?,PHONE?,FAX?,EMAIL?,PUBLIC_KEY?, URL?,ADDRESS_REMARKS?)>
    <!ATTLIST ADDRESS
            type %ADDRESS_QUALIFIERS; #REQUIRED>

  <!ELEMENT BUYER_ID %STRING;>
    <!ATTLIST BUYER_ID
             type %BUYER_ID_QUALIFIERS; #IMPLIED> 

  <!ELEMENT TERRITORY %COUNTRIES;>
  <!ELEMENT LANGUAGE %LANG;>
  <!ELEMENT SUPPLIER_NAME %STRING;>
  <!ELEMENT AGREEMENT_ID %STRING;>
  <!ELEMENT EAN %STRING;>
  <!ELEMENT SUPPLIER_ALT_AID %STRING;>
  <!ELEMENT ERP_GROUP_BUYER %STRING;>
  <!ELEMENT ERP_GROUP_SUPPLIER %STRING;>
  <!ELEMENT DELIVERY_TIME %NUMBER;>
  <!ELEMENT KEYWORD %STRING;>
  <!ELEMENT REMARKS %STRING;>
  <!ELEMENT ARTICLE_ORDER %INTEGER;>
  <!ELEMENT SEGMENT %STRING;>
  <!ELEMENT USER_DEFINED_EXTENSIONS %USERDEFINES;>
  <!ELEMENT REFERENCE_FEATURE_SYSTEM_NAME %STRING;>
  <!ELEMENT REFERENCE_FEATURE_GROUP_ID %STRING;>
  <!ELEMENT FNAME %STRING;>
  <!ELEMENT FVALUE %STRING;>
  <!ELEMENT FUNIT %STRING;>
  <!ELEMENT FORDER %INTEGER;>
  <!ELEMENT CONTENT_UNIT %PUNIT;>
  <!ELEMENT NO_CU_PER_OU %NUMBER;>
  <!ELEMENT QUANTITY_MIN %INTEGER;>
  <!ELEMENT QUANTITY_INTERVAL %INTEGER;>
  <!ELEMENT DAILY_PRICE %BOOLEAN;>
  <!ELEMENT LOWER_BOUND %NUMBER;>
  <!ELEMENT ART_ID_TO %STRING;>
  <!ELEMENT GROUP_SYSTEM_ID %STRING;>
  <!ELEMENT GROUP_SYSTEM_NAME %STRING;>
  <!ELEMENT GROUP_SYSTEM_DESCRIPTION %STRING;>
  <!ELEMENT GROUP_ID %STRING;>
  <!ELEMENT GROUP_NAME %STRING;>
  <!ELEMENT GROUP_DESCRIPTION %STRING;>
  <!ELEMENT PARENT_ID %STRING;>
  <!ELEMENT GROUP_ORDER %INTEGER;>
  <!ELEMENT ART_ID %STRING;>
  <!ELEMENT CATALOG_GROUP_ID %STRING;>
  <!ELEMENT ADDRESS_REMARKS %STRING;>
  <!ELEMENT SUPPLIER_ID %STRING;>
    <!ATTLIST SUPPLIER_ID
      type %SUPPLIER_ID_QUALIFIERS; #REQUIRED>
  <!ELEMENT ARTICLE_STATUS %STRING;>
    <!ATTLIST ARTICLE_STATUS
      type %ARTICLE_STATUS_QUALIFIERS; #REQUIRED>
  <!ELEMENT SUPPLIER_AID_SUPPLEMENT %STRING; >
  <!ELEMENT FDESCR %STRING; >
  <!ELEMENT FVALUE_DETAILS %STRING; >
  <!ELEMENT REFERENCE_FEATURE_GROUP_NAME %STRING;>
  <!ELEMENT HEADER (GENERATOR_INFO?,CATALOG,BUYER?,AGREEMENT*,SUPPLIER,USER_DEFINED_EXTENSIONS?)>
  <!ELEMENT CATALOG (LANGUAGE,CATALOG_ID,CATALOG_VERSION,CATALOG_NAME?,
                  (%DATETIME.GENERATIONDATE;)?,TERRITORY*,CURRENCY?,
                  MIME_ROOT?,PRICE_FLAG*)>        
  <!ELEMENT BUYER (BUYER_ID?,BUYER_NAME,(%ADDRESS.BUYER;)?)>
  <!ELEMENT ARTICLE_TO_CATALOGGROUP_MAP_ORDER %INTEGER;>
  <!ELEMENT FEATURE_SYSTEM_NAME %STRING;>
  <!ELEMENT FEATURE_SYSTEM_DESCR %STRING;>
  <!ELEMENT FEATURE_GROUP_ID %STRING;>
  <!ELEMENT FEATURE_GROUP_NAME %STRING;>
  <!ELEMENT FEATURE_GROUP_DESCR %STRING;>
  <!ELEMENT FT_NAME %STRING;>
  <!ELEMENT FT_UNIT %STRING;>
  <!ELEMENT FT_ORDER %INTEGER;>
  <!ELEMENT AGREEMENT (AGREEMENT_ID,(%DATETIME.AGREEMENTSTARTDATE;)?,%DATETIME.AGREEMENTENDDATE;)>
  <!ELEMENT SUPPLIER (SUPPLIER_ID*,SUPPLIER_NAME,(%ADDRESS.SUPPLIER;)?,MIME_INFO?)>
  <!ELEMENT FEATURE_SYSTEM (FEATURE_SYSTEM_NAME,FEATURE_SYSTEM_DESCR?,FEATURE_GROUP+)>
  <!ELEMENT FEATURE_GROUP (FEATURE_GROUP_ID,FEATURE_GROUP_NAME,FEATURE_TEMPLATE*,FEATURE_GROUP_DESCR?)>
  <!ELEMENT FEATURE_TEMPLATE (FT_NAME,FT_UNIT?,FT_ORDER?)>
    <!ATTLIST FEATURE_TEMPLATE
      type %FEATURE_TEMPLATE_QUALIFIERS; "free_entry">
            
  <!ELEMENT CATALOG_GROUP_SYSTEM (GROUP_SYSTEM_ID?,GROUP_SYSTEM_NAME?,CATALOG_STRUCTURE+,GROUP_SYSTEM_DESCRIPTION?)>
  <!ELEMENT CATALOG_STRUCTURE (GROUP_ID,GROUP_NAME,GROUP_DESCRIPTION?,PARENT_ID,GROUP_ORDER?,MIME_INFO?,USER_DEFINED_EXTENSIONS?,KEYWORD*)>
    <!ATTLIST CATALOG_STRUCTURE
      type %CATALOG_STRUCTURE_QUALIFIERS; #REQUIRED>

  <!ELEMENT ARTICLE_DETAILS                      (DESCRIPTION_SHORT,DESCRIPTION_LONG?,EAN?,SUPPLIER_ALT_AID?,
                     BUYER_AID*,MANUFACTURER_AID?,MANUFACTURER_NAME?,
                     MANUFACTURER_TYPE_DESCR?,ERP_GROUP_BUYER?,ERP_GROUP_SUPPLIER?,
                     DELIVERY_TIME?,SPECIAL_TREATMENT_CLASS*,KEYWORD*,REMARKS?,
                     SEGMENT?,ARTICLE_ORDER?,ARTICLE_STATUS*)>
  <!ELEMENT ARTICLE_FEATURES (REFERENCE_FEATURE_SYSTEM_NAME?,(REFERENCE_FEATURE_GROUP_ID | REFERENCE_FEATURE_GROUP_NAME)?,FEATURE*)>
  <!ELEMENT FEATURE (FNAME,(VARIANTS | FVALUE+),FUNIT?,FORDER?,FDESCR?, FVALUE_DETAILS?)>
  <!ELEMENT VARIANTS (VARIANT+,VORDER)>
  <!ELEMENT VARIANT (FVALUE, SUPPLIER_AID_SUPPLEMENT)>
  <!ELEMENT VORDER %INTEGER;>
  <!ELEMENT ARTICLE_ORDER_DETAILS (ORDER_UNIT,CONTENT_UNIT?,NO_CU_PER_OU?,PRICE_QUANTITY?,QUANTITY_MIN?,QUANTITY_INTERVAL?)>
  <!ELEMENT ARTICLE_PRICE_DETAILS ((%DATETIME.VALIDSTARTDATE;)?,(%DATETIME.VALIDENDDATE;)?,DAILY_PRICE?,ARTICLE_PRICE+)>
  <!ELEMENT ARTICLE_REFERENCE (ART_ID_TO,CATALOG_ID?,CATALOG_VERSION?)>
    <!ATTLIST ARTICLE_REFERENCE
      type %REFERENCE_QUALIFIERS; #REQUIRED
      quantity CDATA #IMPLIED>

  <!ELEMENT ARTICLE_TO_CATALOGGROUP_MAP (ART_ID,CATALOG_GROUP_ID,ARTICLE_TO_CATALOGGROUP_MAP_ORDER?)>
  <!ELEMENT CLASSIFICATION_SYSTEM (CLASSIFICATION_SYSTEM_NAME, CLASSIFICATION_SYSTEM_FULLNAME?, CLASSIFICATION_SYSTEM_VERSION?, 
                                   CLASSIFICATION_SYSTEM_DESCR?, CLASSIFICATION_SYSTEM_LEVELS?, CLASSIFICATION_SYSTEM_LEVEL_NAMES?, 
                                   ALLOWED_VALUES?, UNITS?, CLASSIFICATION_SYSTEM_FEATURE_TEMPLATES?, CLASSIFICATION_GROUPS)>
  <!ELEMENT CLASSIFICATION_SYSTEM_NAME %STRING;> 
  <!ELEMENT CLASSIFICATION_SYSTEM_FULLNAME %STRING;>
  <!ELEMENT CLASSIFICATION_SYSTEM_VERSION  %STRING;>
  <!ELEMENT CLASSIFICATION_SYSTEM_DESCR  %STRING;>
  <!ELEMENT CLASSIFICATION_SYSTEM_LEVELS  %INTEGER;>  
  <!ELEMENT CLASSIFICATION_SYSTEM_LEVEL_NAMES (CLASSIFICATION_SYSTEM_LEVEL_NAME+)>
  <!ELEMENT CLASSIFICATION_SYSTEM_LEVEL_NAME  %STRING;>
    <!ATTLIST CLASSIFICATION_SYSTEM_LEVEL_NAME  
      level CDATA  #REQUIRED >

  <!ELEMENT CLASSIFICATION_GROUPS  (CLASSIFICATION_GROUP+)>
  <!ELEMENT CLASSIFICATION_GROUP (CLASSIFICATION_GROUP_ID, CLASSIFICATION_GROUP_NAME, CLASSIFICATION_GROUP_DESCR?, 
                                  CLASSIFICATION_GROUP_SYNONYMS?, CLASSIFICATION_GROUP_FEATURE_TEMPLATES?, CLASSIFICATION_GROUP_PARENT_ID?)>     <!ATTLIST CLASSIFICATION_GROUP  
      type  %CLASSIFICATION_SYSTEM_QUALIFIERS;  #REQUIRED
      level CDATA  #IMPLIED >              
  <!ELEMENT CLASSIFICATION_GROUP_ID %STRING;>
  <!ELEMENT CLASSIFICATION_GROUP_NAME %STRING;>
  <!ELEMENT CLASSIFICATION_GROUP_DESCR %STRING;>
  <!ELEMENT CLASSIFICATION_GROUP_SYNONYMS  (SYNONYM+ )>
  <!ELEMENT SYNONYM  %STRING;>
  <!ELEMENT CLASSIFICATION_GROUP_PARENT_ID %STRING; >
  <!ELEMENT CLASSIFICATION_GROUP_FEATURE_TEMPLATES  (CLASSIFICATION_GROUP_FEATURE_TEMPLATE+)>
  <!ELEMENT CLASSIFICATION_GROUP_FEATURE_TEMPLATE  (FT_IDREF, FT_MANDATORY, FT_DATATYPE, FT_UNIT?, FT_ORDER?, FT_ALLOWED_VALUES?)>
  <!ELEMENT FT_IDREF %STRING;>
  <!ELEMENT FT_MANDATORY %BOOLEAN; >
  <!ELEMENT FT_DATATYPE %STRING; >
  <!ELEMENT FT_ALLOWED_VALUES  (ALLOWED_VALUE_IDREF+ )>
  <!ELEMENT ALLOWED_VALUE_IDREF %STRING; >
    <!ATTLIST ALLOWED_VALUE_IDREF 
      order CDATA #IMPLIED>

  <!ELEMENT CLASSIFICATION_SYSTEM_FEATURE_TEMPLATES (CLASSIFICATION_SYSTEM_FEATURE_TEMPLATE+)>
  <!ELEMENT CLASSIFICATION_SYSTEM_FEATURE_TEMPLATE (FT_ID, FT_NAME, FT_DESCR?)>
  <!ELEMENT FT_ID %STRING; >
  <!ELEMENT FT_DESCR %STRING;>
  <!ELEMENT ALLOWED_VALUES  (ALLOWED_VALUE+ )>
  <!ELEMENT ALLOWED_VALUE  (ALLOWED_VALUE_ID, ALLOWED_VALUE_NAME, ALLOWED_VALUE_DESCR? )>
  <!ELEMENT ALLOWED_VALUE_ID %STRING; >
  <!ELEMENT ALLOWED_VALUE_NAME %STRING; >
  <!ELEMENT ALLOWED_VALUE_DESCR  %STRING; >
  <!ELEMENT UNITS  (UNIT+ )>
  <!ELEMENT UNIT (UNIT_ID, UNIT_NAME?, UNIT_DESCR?)>
    <!ATTLIST UNIT 
      system CDATA #IMPLIED >

  <!ELEMENT UNIT_ID %STRING; >
  <!ELEMENT UNIT_NAME %STRING; >
  <!ELEMENT UNIT_DESCR %STRING; >
-->




